@model SMS.Models.Result

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
         
        <dt>
            @Html.DisplayNameFor(model => model.Assesment.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assesment.Title)
        </dd>
          
        <dt>
            Course
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assesment.Course.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SysId }) |
    @Html.ActionLink("Back to List", "ViewResult")
</p>
